{% load static %}
<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, shrink-to-fit=no"/>
        <meta name="theme-color" content="#41b72f"/>
        <link rel="icon" href="{% static 'images/favicon.png' %}">
                <link rel="stylesheet" href="{% static 'css/styles.css' %}"/>
        <title>Instagram</title>
    </head>
    <body>
        {% block contet %}
    <main class="maincontent">
        {% block maincontent %}
        {% endblock %}
    </main>
    {% endblock %}
<h1>eeeey q pasa genteeee</h1>
    </body>
    <script src="js/scripts.js"/>
</html>
