
    .insta-footer {

    }

    .insta-footer_list {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: space-between;

    }

    .insta-footer_item {
        text-transform: uppercase;

    }

    .insta-footer_copyright {

    }